body {
    background: #c5c5c5;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-container {
    background: #ffffff;
    padding: 30px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(1, 181, 252);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    font-size: 15px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
}

.login-container button:hover {
    background: #0056b3;
}

#msg {
    margin-top: 12px;
    font-size: 13px;
    color: red;
}

.creditos {
    position: fixed;
    bottom: 10px;
    left: 12px;
    font-size: 20px;
    color: #000000;
    opacity: 0.8;
}
